name: "Test Runner"

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - master
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  test_run:
    runs-on: 'ubuntu-latest'
    timeout-minutes: 60
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      
      - name: Build Image
        env:
          BUNDLE_GEMSTASH__LTVOPS__COM: ${{ secrets.GEMSTASH_KEY }}
        run: "docker compose -f docker-compose-test.yml build"
      
      - name: Run Tests
        run: "docker compose -f docker-compose-test.yml run searchkick_test rake test"
      
      - name: Cleanup
        if: always()
        run: "docker compose -f docker-compose-test.yml down -v"

